@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
::before,
::after {
  border-color: #fff4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
body :where(.css-dev-only-do-not-override-kghr11).ant-layout {
  font-family: "Nunito Sans", sans-serif;
}

/* body .layout-dashboard .ant-layout-content {
  margin: 75px 0 0 !important;
  padding: 20px;
} */
body .layout-dashboard .ant-layout-content {
  margin: 75px 0 0 !important;
  padding: 20px;
  padding-left: 295px;
}
body .ant-layout {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff3180;
}
::-webkit-scrollbar-track {
  background-color: #cfcfcf;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AISmartContainer-top {
  display: flex;
  gap: 1rem;
  margin: 0.3rem 0;
}

.AISmartContainer {
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.machineParameterContainer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.mycardContainer {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  width: 44%;
  height: auto;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.cardUpper {
  background-color: #ab0000 !important;
  color: #fff !important;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.cardBottom {
  font-size: 1rem;
  width: 100%;
  height: auto;
}

.firstLine {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
}

.firstLine .columnData {
  width: 100%;
  height: auto;
}

.firstLine .columnData .columnDataHeading {
  width: 100%;
  height: auto;
}

.firstLine .columnData .columnDataValue {
  width: 100%;
  height: auto;
  font-weight: 500;
}

.secondLine {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column !important;
  gap: 0.4rem;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
}

.secondLine .secondLinecolumnData {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.secondLine .secondLinecolumnData .secondLinecolumnDataHeading {
  width: 100%;
  height: auto;
}

.secondLine .secondLinecolumnData .secondLinecolumnDataValue {
  display: flex;
  gap: 5px;
  font-weight: 500;
}

.layout-dashboard .ant-layout-content {
  margin: 0 2.1rem 0 !important;
}

a {
  text-decoration: none !important;
}

label::after {
  content: "" !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab-active {
  background-color: rgb(236, 82, 45) !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #fff;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-btn {
  font-weight: 600 !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper table {
  box-shadow: 1px 2px 27px rgba(0, 0, 0, 0.243);
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-list {
  gap: 1rem;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper table {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.243) !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper table {
  width: 100%;
  text-align: start;
  border-radius: 8px !important;
  border-collapse: separate;
  border-spacing: 0;
}

/* 
.notification-change {
  animation: backgroundChange 0.5s forwards;
}

@keyframes backgroundChange {
  0% { background-color: red; }
  100% { background-color: white; }
} */
.notification-change {
  animation: backgroundChange 10s infinite;
  /* Adjusted duration */
}

@keyframes backgroundChange {
  0% {
    background-color: red;
  }

  /* /* 50% { background-color: white; } */
  100% {
    background-color: red;
  }
}

:where(.css-dev-only-do-not-override-kghr11).ant-card .ant-card-body {
  padding: 24px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:where(.css-dev-only-do-not-override-kghr11).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: orangered !important;
  border: orangered !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: orangered !important;
  border: orangered !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  font-size: 1rem;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice {
  padding: 20px 24px !important;
  width: 384px !important;
  background-color: orangered !important;
  color: #fff !important;
  max-width: calc(100vw - 48px) !important;
  overflow: hidden !important;
  line-height: 1.5714285714285714 !important;
  word-wrap: break-word !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  margin-bottom: 8px !important;
  margin-inline-start: 36px !important;
  color: #fff !important;
  font-size: 16px !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice-close {
  position: absolute !important;
  top: 20px !important;
  inset-inline-end: 24px !important;
  color: #fff !important;
  outline: none !important;
  width: 22px !important;
  height: 22px !important;
  border-radius: 4px !important;
  transition: background-color 0.2s, color 0.2s !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ai-view-image_container {
  height: 50vh !important;
}

/* custom select */
.dx-default-select {
  height: 100%;
}
.dx-default-date-range.ant-picker,
.dx-default-select .ant-select-selector {
  height: 100%;
}
.ant-picker .ant-picker-range,
.dx-default-select.select-machines .ant-select-selector {
  background-color: #e5e7eb !important;
}
.dx-default-date-range.ant-picker .ant-picker-input input::placeholder,
.dx-default-select .ant-select-selector .ant-select-selection-placeholder {
  color: #585858 !important;
}
/* ui enhancement */
/* side menu */
/* ui enhancement end */
.logo-w span {
  color: #ffffff;
}
.logo-w {
  filter: brightness(100);
}
.client-name-w {
  color: #f80759;
}
.section-title {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  height: 45px;
  color: #707070;
}
.section-title-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  padding-right: 20px;
  transform: translateY(-50%);
  background-color: #ffffff;
  z-index: 2;
}
.section-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d3d3d3;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 0;
}
.menu-items-w .menu-category-name {
  color: #e4e4e4 !important;
}
.sidemenu-link {
  color: #e4e4e4 !important;
}
.sidemenu-link:hover {
  color: #a7fcff !important;
}
.ant-btn,
.sidemenu-link.active {
  /* background: linear-gradient(90deg, #ff3c006b 0%, #ff00008c 100%); */
  background-color: #f50909;
  /* background-color: #e6e6e6 !important; */
  color: #ffffff !important;
  height: 42px;
}

.sidemenu-container {
  /* background: linear-gradient(-45deg, #fd2003, #cf0754, #970254, #f10707); */
  background-color: #ad3737;
}

.overview-container.dashboard-data {
  background: linear-gradient(-45deg, #ee7752, #8a274d, #ff5125, #0096b1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slick-prev,.slick-next,.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 0 !important;
}
:where(.css-dev-only-do-not-override-kghr11).ant-select-dropdown{
  z-index: 1;
}
:where(.css-dev-only-do-not-override-kghr11).ant-picker-dropdown-range{
  z-index: 99999 !important;
}