@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
::before,
::after {
  border-color: #fff4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #e6eafa;
  overflow-x: hidden;
}

body :where(.css-dev-only-do-not-override-kghr11).ant-layout {
  font-family: "Nunito Sans", sans-serif;
}

body .layout-dashboard .ant-layout-content {
  margin: 75px 0 0 !important;
  padding: 20px;
  padding-left: 295px;
}

body .ant-layout {
  background: #e6eafa;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.inisigts_page {
  background: linear-gradient(
    113.24deg,
    #43996a 7.4%,
    #261586 50.18%,
    #3f079e 84.48%
  );
}

::-webkit-scrollbar-thumb {
  background-color: #43996a;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #cfcfcf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AISmartContainer-top {
  display: flex;
  gap: 1rem;
  margin: 0.3rem 0;
}

.AISmartContainer {
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.machineParameterContainer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.mycardContainer {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  width: 44%;
  height: auto;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.cardUpper {
  background-color: #ab0000 !important;
  color: #fff !important;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.cardBottom {
  font-size: 1rem;
  width: 100%;
  height: auto;
}

.firstLine {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
}

.firstLine .columnData {
  width: 100%;
  height: auto;
}

.firstLine .columnData .columnDataHeading {
  width: 100%;
  height: auto;
}

.firstLine .columnData .columnDataValue {
  width: 100%;
  height: auto;
  font-weight: 500;
}

.secondLine {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column !important;
  gap: 0.4rem;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
}

.secondLine .secondLinecolumnData {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.secondLine .secondLinecolumnData .secondLinecolumnDataHeading {
  width: 100%;
  height: auto;
}

.secondLine .secondLinecolumnData .secondLinecolumnDataValue {
  display: flex;
  gap: 5px;
  font-weight: 500;
}

.layout-dashboard .ant-layout-content {
  margin: 0 2.1rem 0 !important;
}

a {
  text-decoration: none !important;
}

label::after {
  content: "" !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab-active {
  background-color: #43996a !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #fff;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-btn {
  font-weight: 600 !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-list {
  gap: 1rem;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper table {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.243) !important;
  width: 100%;
  text-align: start;
  border-radius: 8px !important;
  border-collapse: separate;
  border-spacing: 0;
}

.notification-change {
  animation: backgroundChange 10s infinite;
  /* Adjusted duration */
}

@keyframes backgroundChange {
  0% {
    background-color: red;
  }

  /* /* 50% { background-color: white; } */
  100% {
    background-color: red;
  }
}

:where(.css-dev-only-do-not-override-kghr11).ant-card .ant-card-body {
  padding: 14px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
}

:where(.css-dev-only-do-not-override-kghr11).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: orangered !important;
  border: orangered !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: orangered !important;
  border: orangered !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  font-size: 1rem;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice {
  padding: 20px 24px !important;
  width: 384px !important;
  background-color: orangered !important;
  color: #fff !important;
  max-width: calc(100vw - 48px) !important;
  overflow: hidden !important;
  line-height: 1.5714285714285714 !important;
  word-wrap: break-word !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  margin-bottom: 8px !important;
  margin-inline-start: 36px !important;
  color: #fff !important;
  font-size: 16px !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice-close {
  position: absolute !important;
  top: 20px !important;
  inset-inline-end: 24px !important;
  color: #fff !important;
  outline: none !important;
  width: 22px !important;
  height: 22px !important;
  border-radius: 4px !important;
  transition: background-color 0.2s, color 0.2s !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ai-view-image_container {
  height: 50vh !important;
}

/* custom select */
.dx-default-select {
  height: 100%;
}

.dx-default-date-range.ant-picker,
.dx-default-select .ant-select-selector {
  height: 100%;
}

.ant-picker .ant-picker-range,
.dx-default-select.select-machines .ant-select-selector {
  background-color: #e5e7eb !important;
}

.dx-default-date-range.ant-picker .ant-picker-input input::placeholder,
.dx-default-select .ant-select-selector .ant-select-selection-placeholder {
  color: #414040 !important;
}

.ant-select-selection-placeholder {
  color: #414040 !important;
}

/* ui enhancement */
/* side menu */
/* ui enhancement end */
.logo-w span {
  color: #ffffff;
}

.logo-w {
  filter: brightness(100);
}

.client-name-w {
  color: #f80759;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  height: 45px;
  color: #707070;
}

.section-title-overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  padding-right: 20px;
  transform: translateY(-50%);
  z-index: 2;
  color: #585858;
  font-weight: 800;
}

.section-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 0;
}
.commButton {
  background-color: #43996a !important;
}
.menu-items-w .menu-category-name {
  color: #43996a !important;
  font-weight: 700;
}

.sidemenu-link {
  color: #27282e !important;
}

.sidemenu-link:hover {
  color: #43996a !important;
}

.ant-btn,
.sidemenu-link.active {
  background-color: #43996a;
  color: #ffffff !important;
  height: 42px;
  font-weight: 700;
}

.sidemenu-container {
  background: linear-gradient(-213deg, #d2d7e9, #f2f2f2);
}

.overview-container.dashboard-data {
  background: linear-gradient(
    40deg,
    #ffff,
    #ffff,
    #ffff,
    #ffff,
    #d8dce8,
    #ffff,
    #ffff,
    #ffff,
    #ffff,
    #ffff
  );
  animation: gradient 15s ease infinite;
  background-size: 600% 500%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.slick-prev,
.slick-next,
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 0 !important;
}

.custom-input::placeholder {
  color: #191919;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.custom-table.ant-table-wrapper
  .ant-table-tbody
  > tr
  > td
  > .ant-table-wrapper:only-child
  .ant-table {
  margin-inline: 0 !important;
}
.custom-table.ant-spin-nested-loading {
  margin: 1rem !important;
}
:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  tr.ant-table-expanded-row
  > td,
:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
  tr.ant-table-expanded-row:hover
  > td {
  background: #fff !important;
}

/* Add box-shadow to the table */
.custom-table .ant-table-wrapper .ant-table {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) !important; /* Inner table box-shadow */
  border-radius: 8px; /* Optional: Add border radius */
  margin-top: 1rem; /* Optional: Margin between tables */
}
.custom-table .ant-table-cell {
  font-weight: 600; /* Change this value to desired font weight */
}

:where(.css-kghr11).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #43996a !important;
}

:where(.css-kghr11).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.ant-spin-dot-item {
  background-color: #072266 !important;
}
/* :where(.css-dev-only-do-not-override-kghr11).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  } */
:where(.css-kghr11).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  cursor: default !important;
}
