@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AISmartContainer-top{
  display: flex;
  gap:1rem;
  margin: 0.3rem 0;
  
}

.AISmartContainer{
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.machineParameterContainer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.mycardContainer{
  display: flex;
  gap: .4rem;
  flex-direction: column;
  width: 44%;
  
  height: auto;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.cardUpper{
  background-color: #AB0000 !important;
  color: #fff !important;
  padding: .5rem;
  font-size: 1.2rem;
}

.cardBottom{
  font-size: 1rem;
  width: 100%;
  height: auto;
}

.firstLine {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: .2rem 1rem;
  justify-content: center;
  align-items: center;
}

.firstLine .columnData{
  width: 100%;
  height: auto;
}

.firstLine .columnData .columnDataHeading{
  width: 100%;
  height: auto;
}

.firstLine .columnData  .columnDataValue {
  width: 100%;
  height: auto;
  font-weight: 500;
}


.secondLine {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column !important;
  gap: .4rem;
  padding: .2rem 1rem;
  justify-content: center;
  align-items: center;
}
.secondLine .secondLinecolumnData {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.secondLine .secondLinecolumnData .secondLinecolumnDataHeading{
  width: 100%;
  height: auto;
}

.secondLine .secondLinecolumnData  .secondLinecolumnDataValue {
  display: flex;
  gap: 5px;
  font-weight: 500;
}

.layout-dashboard .ant-layout-content{
  margin: 0 2.1rem 0 !important;
}
a {
  text-decoration: none !important;
}